<%- include('../parts/head') %>
<%- include('../parts/header') %>
<body>
    <h1>About</h1>
    <p>This webpage is an example web application to show the benefits of dynamic
    routing, and to a very limited degree, templating.
    You will find some examples of POST and GET requests that hand over data
    in a couple ways to do basic math. Sorry for the ugliness. Enjoy</p>
</body>
<%- include('../parts/footer') %>
