<%- include('../parts/head') %>
<%- include('../parts/header') %>
<body>
    <h1>Home</h1>
    <p>Take a peek into the void</p>
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Example search term">
        <button>search now</button>
    </form>
</body>
<%- include('../parts/footer') %>
