<header>
    <div class="navbar row hamburger-menu">
        <ul>
            <li class="nav-element responsive-hidden-text col-s12"><a href=".">Hover me</a></li>
            <li class="nav-element col-s2 col-2"><a href="/">Home</a></li>
            <li class="nav-element col-s6 col-6">
            <a href="/simple-calculator">Do some addition on a webpage</a></li>
            <li class="nav-element col-s4 col-4"><a href="/about">About Us</a></li>
        </ul>
    </div>
</header>
